<h1>Volunteer Tracker</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      Create Form
    </div>
    <div class="col-md-6">
      Current Projects
    </div>
  </div>
</div>
