<a href="/">Return Home</a>

<h1> <%= @project.title %> </h1>
<h3>Add Volunteers </h3>
<form action="/projects/<%= @project.id %>" method="post">
  <label for="name">Enter volunteer name:</label>
  <input name="name" type="text">
  <button type="submit" class="btn btn-info">Add</button>
</form>


<h3>Volunteer List</h3>
<% if @project.volunteers.any? %>
<p>Volunteers</p>
<ul>
  <% @project.volunteers.each do |volunteer| %>
  <li>
    <p><%= volunteer.name %></p>
  </li>
<% end %>
</ul>
<% else %>
<p>No volunteers for this project.</p>
<% end %>



<a href="/projects/<%= @project.id %>/edit"><button type="button" name="button" class="btn btn-danger">Edit Project </button></a>
